body{background-image: url("wb.jpg")}

.maincontent{padding-bottom: 700px;}

h1{text-align:center;font-size: 32px;font-family:'Impact';color: white;}

.divider{width: 350px;color:black;box-shadow:2px 5px 2px black;}

.container{text-align: center;}

h2{font-size: 30px;color: white;font-family: 'Impact';}

p{font-size: 20px;font-family: 'Impact';color: white;}

@keyframes bt1an {
    0% {background-color:blue; left:0px; top:0px;}
    20% {background-color:darkblue;}
    40% {background-color:rgb(0, 65, 139);}
    60% {background-color: rgb(54, 41, 141);}
    80% {background-color: rgb(3, 9, 68);}
    100% {background-color:blue;}
  }

.bt1 {
    color: #9ec1d2;
    background: #fff;
    text-decoration:none ;
    font-family: 'Squada One', cursive;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px 20px;
    transition-duration: .2s;
    display: inline-block;
    perspective: 1000px;
    animation-name: bt1an;
    -webkit-animation: bt1an 5s infinite; /* Safari 4+ */
    -moz-animation:    bt1an 5s infinite; /* Fx 5+ */
    -o-animation:      bt1an 5s infinite; /* Opera 12+ */
    animation:         bt1an 5s infinite; /* IE 10+, Fx 29+ */
    }
  
  .bt1:hover {
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
    cursor: pointer;
    background: darkcyan;  
    }

  .bt1:active{box-shadow:2px 5px 2px black;}  


@keyframes fadetext{from{opacity: 0;} to{opacity: 1;}}

#aboutme{animation-name: fadetext;animation-duration: 2s;}

.list-group{animation-name: fadetext;animation-duration: 2s;}

.img{height:50px;padding-top: 10px;}

.links{background-color:darkblue;color:white;text-align: center;font-family:'Impact';bottom:0;left:0;right:0;padding:1rem;position:fixed;bottom:0;width: 100%;}

.bt2:active{box-shadow:2px 5px 2px black;}  